.custom-radio {
  position: relative;
  display: inline-block;
  width: 20px; /* Tamaño estático */
  height: 20px; /* Tamaño estático */
}

.custom-radio input[type="radio"] {
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.custom-radio input[type="radio"]:checked + .radio-label::before {
  background-color: #0AEB8C; /* Color de fondo cuando está checked */
  border: 1.5px solid black; /* Borde negro */
}

.radio-label {
  position: relative;
  padding-left: 30px; /* Espacio para el radio */
  cursor: pointer;
  display: flex;
  align-items: center; /* Alinear el texto y el radio */
}

.radio-label::before {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 16px; /* Tamaño estático */
  height: 16px; /* Tamaño estático */
  border: 1.5px solid black; /* Borde negro */
  border-radius: 50%; /* Hace que sea circular */
  background-color: white; /* Color de fondo por defecto */
}

.radio-label::after {
  content: '';
  position: absolute;
  left: 8px; /* Ajustar posición */
  top: 50%;
  transform: translate(-50%, -50%);
  width: 9px; /* Tamaño estático */
  height: 9px; /* Tamaño estático */
  border-radius: 50%; /* Hace que sea circular */
  background-color: black; /* Círculo central negro */
  opacity: 0; /* Oculto por defecto */
  transition: opacity 0.2s;
}
@media (max-width: 640px) { /* Ajusta este tamaño según sea necesario */
  .radio-label::after {
    left: 8px; /* Ajustar left para pantallas pequeñas */
  }
}
.custom-radio input[type="radio"]:checked + .radio-label::after {
  opacity: 1; /* Muestra el círculo central cuando está checked */
}