@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
  h1 {
    @apply font-bold;
    @apply text-2xl;
  }
  h3 {
    @apply font-bold;
    @apply text-base;
  }
  h4 {
    @apply font-bold;
    @apply text-sm;
  }
}
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
#__next {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
header {
  flex-shrink: 0; /* Ensure the header does not shrink */
}
main {
  flex-grow: 1; 
}
footer {
  flex-shrink: 0; 
}