@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
  Image {
    @apply w-auto;
    @apply h-auto;
  }
  h1 {
    @apply font-bold;
    @apply text-2xl;
  }
  h3 {
    @apply font-bold;
    @apply text-base;
  }
  h4 {
    @apply font-bold;
    @apply text-sm;
  }
  .custom-card-size{
    @apply flex;
    @apply flex-col;
    @apply items-center;
  }
  .custom-card-size .rccs {
    @apply w-max;
    @apply h-auto;
    @apply transform scale-[0.98];
    @apply transform origin-top-left;
    @apply drop-shadow-md;
    @apply border-b-total-black;
  }
  .custom-card-size .rccs__card--unknown > div{
    background-image: linear-gradient(to left top, #EEEAEA, #e0e0e0);
    @apply text-footer-gray;
  }

  @media (min-width: 768px) {
    .custom-card-size .rccs {
      @apply transform scale-100;
      @apply transform origin-center;
      @apply pl-0;
    }
  }
  @media (max-width: 340px) {
    .custom-card-size .rccs {
      @apply w-full; /* Asegúrate de que ocupe el ancho completo del contenedor */
    }
  }

}
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
header {
  flex-shrink: 0;
}
main {
  flex: 1;
}
.hide-arrow[type="number"]::-webkit-inner-spin-button,
.hide-arrow[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="radio"] {
  color: #0AEB8C;
}